@font-face {
font-family: "Boom";
src :url("../fonts/boom.TTF")
}
@font-face {
font-family: "LemonBold";
src: url("../fonts/LemonMilkbold.otf");
}
@font-face {
font-family: "LemonLight";
src: url("../fonts/LemonMilklight.otf");
}

body {
  background-color:white;
}

.thumbnail {
  position: relative;
  width: 236px;
  height: 236px;
  overflow: hidden;
  border-radius:25%;
  margin-bottom:10px;
  margin-left:2px;
  margin-right:2px;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  transform:scale(2.0);
}

.thumbnail img:hover {
  transform:scale(1.0);
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.thumbnaillogo {
  position: relative;
  width: 236px;
  height: 236px;
  overflow: hidden;
  margin-bottom:10px;
  margin-left:2px;
  margin-right:2px;
}

.thumbnaillogo img {
  position:absolute;
  width:236px;

}

h1 {
  text-align: center;
}

.titling {
  margin-top:22px;
  margin-bottom:22px;
}


#enterdiv {
  margin-bottom:0px;
  margin-top:0px;
  bottom:0px;
  width:100%;
  text-align:left;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a53540+0,ff8072+52,ff3019+99 */
background-color:black; /* Old browsers */
}

#enterdiv {
  border-top:5px solid white;
}

#enterdiv h1 {
  display:inline;
}

.enterlink h1{
  padding-left:28px;
  color:white;
  font-family: 'LemonLight', monospace;
  margin-bottom:0px;
}

#github{
  padding-left:25px;
  -webkit-transition:1.2s;
  font-family: 'LemonLight', monospace;
  margin-bottom:0px;
  color:white;
}
