
body{
  background-color:#343e47;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.topresume {
  margin-top:2em;
  height: 150px;
  width:1000px;
  background-color:#212529;
  border-bottom:2px solid white;
}

.topresume h1 {
  padding-top:45px;
  padding-left:55px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:5px;
  word-spacing:10px;
}

.topresume h5 {
  padding-left:55px;
  color:#fd4345;
  margin-top:-5px;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
  letter-spacing: 4px;
  font-size:12px;
}

.leftresume {
  background-color:#212529;
  height:1070px;
  width:350px;
  position:absolute;
  margin-right:0px;
}

.table th {
  border:0px;
  color:#fd4345;
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter;
  letter-spacing: 4px;
  font-size:14px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid grey;
    text-align:center;
}

.leftresume .reftable td {
  padding-top:15px;
  font-size:12px;
  letter-spacing:2px;
}

.leftresume td {
  padding:2px;
  border:0px;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
  color:white;
  letter-spacing: 4px;
  font-size:13px;
  padding-left:15px;
}

.leftresume a {
  font-weight:bolder;
}

.contactrow td {
  padding-top:15px;
}

#firstref {
  padding-top:35px;
}


.rightresume {
  background-color:#fdfdfd;
  height:1070px;
  width:650px;
  position:absolute;
  margin-left:350px;
  margin-bottom:100px;
}

.contextsection {
  margin-top:10px;
  margin-left:30px;
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  font-size:15px;
  word-spacing:1px;
  letter-spacing:-1px;
  line-height:2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing:5px;
  word-spacing:10px;
  font-size:15px;
  font-weight:bolder;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing:5px;
  word-spacing:5px;
  font-size:11px;
  font-weight:bolder;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    font-weight:500;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #fd4345;
    margin: 1em 0;
    padding: 0;
}
