@font-face {
font-family: "Boom";
src :url("../fonts/boom.TTF")
}
@font-face {
font-family: "LemonBold";
src: url("../fonts/LemonMilkbold.otf");
}
@font-face {
font-family: "LemonLight";
src: url("../fonts/LemonMilklight.otf");
}
body{
   background: url("../images/concrete.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:repeat-y;
}

.container-fluid {
  background-attachment:fixed;
  background-size:cover;
}

.bigname {
  text-align:center;
  margin-top:350px;
  margin-left:0px;
  background-color:#a53540;
  /*background-image:url("../images/pexels.jpeg");*/
  background-size:cover;
  opacity:1;
  border-top:5px solid white;
  border-bottom:5px solid white;
}

.bigname h1 {
  font-size:8em;
  padding-left:0px;
  margin-top:-15px;
  margin-bottom:-25px;
  color:white;
  font-family: 'LemonBold';
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,1),
             0px 18px 23px rgba(0,0,0,1);
}

.bigname h2 {
  font-size:1.4em;
  letter-spacing:1em;
  padding-left:0px;
  color:white;
  margin-bottom:0px;
  font-family: 'LemonLight';
}


.col-md-12 {
  padding:0px;
}

#coloredslash {
  margin-left:15px;
  margin-right:5px;
}

#enterdiv {
  margin-bottom:0px;
  margin-top:0px;
  position:fixed;
  bottom:0px;
  width:100%;
  text-align:left;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a53540+0,ff8072+52,ff3019+99 */
background-color:black; /* Old browsers */
}

#cellphonepng {
  position:fixed;
  margin-top:725px;
  margin-left:150px;
  transform: rotate(35deg);
  -webkit-transition:.5s;
  z-index:0;
}

#cellphonepng:hover {
  -webkit-transition:.5s;
  transform: rotate(-35deg);
}

#resumejpg {
  position:fixed;
  margin-top:295px;
  margin-left:1480px;
  transform: rotate(45deg);
  -webkit-transition:.5s;
  z-index:1;
}

#resumejpg:hover {
  -webkit-transition:.5s;
  transform: rotate(65deg);
}

#laptoppng {
  position:fixed;
  margin-top:160px;
  margin-left:620px;
  transform: rotate(45deg);
  -webkit-transition:.5s;
  z-index:0;
}

#laptoppng:hover {
  -webkit-transition:.5s;
  transform: rotate(50deg);
}

#coffeepng {
  position:fixed;
  margin-top:60px;
  margin-left:180px;
  transform: rotate(130deg);
}

#enterdiv {
  border-top:5px solid white;
}

#enterdiv h1 {
  display:inline;
}

.enterlink h1{
  padding-left:28px;
  color:white;
  font-family: 'LemonLight', monospace;
  margin-bottom:0px;
}

#github{
  padding-left:25px;
  -webkit-transition:1.2s;
  font-family: 'LemonLight', monospace;
  margin-bottom:0px;
  color:white;
}
